body {
    background-color: #f3f5f7;
}

header {
    width: 1300px;
    height: 100px;
    margin: 0px auto;
    padding-top: 30px;
}

/*logo部分*/
.logo {
    width: 195px;
    height: 42px;
    float: left;
}

.logo a {
    display: block;
    width: 195px;
    height: 42px;
    background: url(../images/logo.png) no-repeat;
    text-indent: -999px;
    overflow: hidden;
}

/*navigation导航栏*/
nav {
    float: left;
}

nav li {
    float: left;
    height: 40px;
    line-height: 40px;
    margin-left: 25px;
}

nav li a {
    display: block;
    height: 40px;
    font-size: 18px;
    padding: 0 10px;
}

nav li a:hover {
    border-bottom: 2px solid #00a4ff;
}

.search {
    width: 410px;
    height: 40px;
    float: left;
    margin-left: 50px;
}

.search input {
    width: 360px;
    height: 40px;
    border: 1px solid #00a4ff;
    outline: none;
    padding-left: 10px;
    float: left;
}

.search button {
    width: 50px;
    height: 40px;
    float: left;
    border: 0;
    outline: none;
    background: url(../images/fa-search.png) no-repeat;
}

.personal {
    float: right;
    height: 40px;
    line-height: 40px;
}

.personal dt, .personal dd {
    float: left;
}

.personal s {
    position: relative;
    padding: 0 20px;
    text-decoration: none;
}

.personal s::before {
    content: "";
    display: block; /* 因为伪元素默认的是行内元素 */
    width: 6px;
    height: 6px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    top: 0;
}

.personal span img {
    border-radius: 50%;
    margin-right: 10px;
    transition: all 0.6s;
}

.personal span img:hover {
    transform: rotate(-360deg);
}

/* banner部分 */
.banner {
    height: 420px;
    background-color: #1c036c;
}

/*inner部分*/

.inner {
    height: 420px;
    position: relative;

}

.subnav {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 190px;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    padding-top: 10px;

}

.subnav li {
    padding-left: 20px;
    position: relative;
}

.subnav a {
    font-size: 14px;
    color: #FFFFFF;
    display: block;
    height: 40px;
    line-height: 40px;
}

.subnav a:hover {
    color: #00b4ff;
}

.subnav span {
    position: absolute;
    top: 0px;
    right: 20px;
}

/*轮播小圆点*/
.circle {
    width: 170px;
    height: 20px;
    position: absolute;
    left: 50%;
    bottom: 15px;
}

.circle i {
    display: inline-block;
    width: 13px;
    height: 13px;
    background: rgba(225, 225, 225, 0.4);
    margin: 0 5px;
    border-radius: 6px;

    transition: all 0.3s;
}

.circle i:hover {
    background-color: #FFFFFF;
    width: 20px;
}
/*我的课程表部分*/
.timebook {
    width: 228px;
    height: 300px;
    position: absolute;
    right: 0;
    top: 50%;
    /* transform: translate(0, -50%); */
    transform: translateY(-50%);
    /* 但是y 要大写才可以 */
    background-color: #fff;;
}

.timebook dt {
    height: 50px;
    background-color: #9bceea;
    font-weight: 700;
    color: #fff;
    line-height: 50px;
    font-size: 18px;
    text-align: center;
    text-align: center;
}
.timebook dd {
    padding: 15px 20px 0;
}
.timebook dd li {
    height: 60px;
    border-bottom: 1px solid #ccc;
    /* background-color: pink; */
    padding-top: 6px;
}
.timebook dd li:last-child {
    border: 0;
}
.timebook dd li a:hover{
    color: #22b0ff;
}
.timebook  h5 {
    font-size: 16px;
    font-weight: normal;
}
.all {
    height: 40px;
    border: 1px solid #22b0ff;
    color: #22b0ff;
    display: block;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
}
.all:hover{
    background-color: #22b0ff;
    color:#fff;
}
/*精品推荐*/